name: Ubuntu Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: get curl
      run: sudo apt-get install libcurl4-openssl-dev
    - name: build hltv ra
      run: make
